nav.navbar-default
	background-color darken($color-gray, 2)
	border none
	margin-bottom 0
	font-weight 700

	.container-fluid
		min-height 70px

		.navbar-header
			min-height 70px

			button
				margin-top 18px
				border none
				.icon-bar
					background-color $color-primary
					height 3px

			.navbar-brand
				height 70px

				@media (min-width: 768px)
					margin-left 15px

				img
					height 100%

		.navbar-collapse
			ul
				margin-top 10px

				@media (min-width: 768px)
					margin-right 0