#headerwrap
	background: url(../img/main_background.jpg) no-repeat center top
	text-align: center
	background-attachment: relative
	background-position: center center
	width: 100%
	-webkit-background-size: 100%
	-moz-background-size: 100%
	-o-background-size: 100%
	background-size: 100%
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	padding: 70px 0

	h1
		margin-top: 112px
		color: #fff
		font-size: 45px
		font-weight: 700
		letter-spacing: 3px

	h2
		color: #fff
		font-size: 15px
		font-weight: 100
		letter-spacing: 2px

	@media only screen and (max-width: 768px)
		padding: 0
		h1
			margin-top: 100px
			font-size: 30px
		h2
			font-size: 15px
			font-weight: 400
			margin-top: 10px

	i
		font-size: 35px
		color: #fff

.spacer
	margin-top: 3em

hr
	height: 2px;
	background-color: $color-primary
	border: none
	width: 70%
	@media only screen and (max-width: 768px)
		width: 100%

h1
		font-size: 40px
		font-weight: 700
		letter-spacing: 3px
	h2
		color: #fff
		font-size: 15px
		font-weight: 100
		letter-spacing: 2px

p
	padding: 5px 0
	color: $color-gray-dark

body > div
footer
	padding-top: 70px
	padding-bottom: 70px
	@media only screen and (max-width: 768px)
		padding-top: 50px
		padding-bottom: 50px

#about
	background-color: $color-gray
	text-align: center

#services
#team
	background-color: white
	text-align: center
	.row
		> div
			margin-top: 50px
			> div
				h4
					margin-top: 20px
					margin-bottom: 5px
			@media only screen and (max-width: 768px)
				> div:not(:first-child)
					margin-top: 50px

#portfolio
	background-color: $color-gray
	text-align: center
	.row
		> div
			margin-top: 50px
			> div
				h4
					margin-top: 20px
					margin-bottom: 5px
			@media only screen and (max-width: 768px)
				> div:not(:first-child)
					margin-top: 50px

#contact
	background-color: $color-gray
	h1
		text-align: center

.overlay
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	height: 100%
	width: 100%
	opacity: 0
	transition: .5s ease
	background: url(../img/portfolio_overlay.png) no-repeat center top

#portfolio
	.row
		> div:hover .overlay
			opacity 1
			cursor pointer

#social
	.row
		text-align center
		img
			height 25px
			margin 8px
