#slider
	// text-align center
	@media only screen and (min-width: 1200px)
		h3
			margin-top 0

footer#address-dark
	background-color: $color-gray
	padding-top: 70px
	padding-bottom: 70px
	@media only screen and (max-width: 768px)
		padding-top: 50px
		padding-bottom: 50px

.row
	i.fa
		margin-right 5px